package-lock.json   export-ignore
package.json    export-ignore
composer.json   export-ignore
webpack.config.js   export-ignore
.gitattributes  export-ignore
.gitignore  export-ignore
.distignore export-ignore
.distignore export-ignore
.github export-ignore
.wordpress-org  export-ignore
src/ai/admin/    export-ignore
src/ai/frontend/    export-ignore